/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport",
)

package de.gesellix.docker.remote.api

import com.squareup.moshi.Json
import com.squareup.moshi.JsonClass

/**
 *
 *
 * @param id The ID of this container as a 128-bit (64-character) hexadecimal string (32 bytes).
 * @param created Date and time at which the container was created, formatted in [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) format with nano-seconds.
 * @param path The path to the command being run
 * @param args The arguments to the command being run
 * @param state
 * @param image The ID (digest) of the image that this container was created from.
 * @param resolvConfPath Location of the `/etc/resolv.conf` generated for the container on the host.  This file is managed through the docker daemon, and should not be accessed or modified by other tools.
 * @param hostnamePath Location of the `/etc/hostname` generated for the container on the host.  This file is managed through the docker daemon, and should not be accessed or modified by other tools.
 * @param hostsPath Location of the `/etc/hosts` generated for the container on the host.  This file is managed through the docker daemon, and should not be accessed or modified by other tools.
 * @param logPath Location of the file used to buffer the container's logs. Depending on the logging-driver used for the container, this field may be omitted.  This file is managed through the docker daemon, and should not be accessed or modified by other tools.
 * @param name The name associated with this container.  For historic reasons, the name may be prefixed with a forward-slash (`/`).
 * @param restartCount Number of times the container was restarted since it was created, or since daemon was started.
 * @param driver The storage-driver used for the container's filesystem (graph-driver or snapshotter).
 * @param platform The platform (operating system) for which the container was created.  This field was introduced for the experimental \"LCOW\" (Linux Containers On Windows) features, which has been removed. In most cases, this field is equal to the host's operating system (`linux` or `windows`).
 * @param imageManifestDescriptor
 * @param mountLabel SELinux mount label set for the container.
 * @param processLabel SELinux process label set for the container.
 * @param appArmorProfile The AppArmor profile set for the container.
 * @param execIDs IDs of exec instances that are running in the container.
 * @param hostConfig
 * @param graphDriver
 * @param storage
 * @param sizeRw The size of files that have been created or changed by this container.  This field is omitted by default, and only set when size is requested in the API request.
 * @param sizeRootFs The total size of all files in the read-only layers from the image that the container uses. These layers can be shared between containers.  This field is omitted by default, and only set when size is requested in the API request.
 * @param mounts List of mounts used by the container.
 * @param config
 * @param networkSettings
 */
@JsonClass(generateAdapter = true)
data class ContainerInspectResponse(
    // The ID of this container as a 128-bit (64-character) hexadecimal string (32 bytes).
    @Json(name = "Id")
    var id: kotlin.String? = null,
    // Date and time at which the container was created, formatted in [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) format with nano-seconds.
    @Json(name = "Created")
    var created: kotlin.String? = null,
    // The path to the command being run
    @Json(name = "Path")
    var path: kotlin.String? = null,
    // The arguments to the command being run
    @Json(name = "Args")
    var args: kotlin.collections.MutableList<kotlin.String>? = null,
    @Json(name = "State")
    var state: ContainerState? = null,
    // The ID (digest) of the image that this container was created from.
    @Json(name = "Image")
    var image: kotlin.String? = null,
    // Location of the `/etc/resolv.conf` generated for the container on the host.  This file is managed through the docker daemon, and should not be accessed or modified by other tools.
    @Json(name = "ResolvConfPath")
    var resolvConfPath: kotlin.String? = null,
    // Location of the `/etc/hostname` generated for the container on the host.  This file is managed through the docker daemon, and should not be accessed or modified by other tools.
    @Json(name = "HostnamePath")
    var hostnamePath: kotlin.String? = null,
    // Location of the `/etc/hosts` generated for the container on the host.  This file is managed through the docker daemon, and should not be accessed or modified by other tools.
    @Json(name = "HostsPath")
    var hostsPath: kotlin.String? = null,
    // Location of the file used to buffer the container's logs. Depending on the logging-driver used for the container, this field may be omitted.  This file is managed through the docker daemon, and should not be accessed or modified by other tools.
    @Json(name = "LogPath")
    var logPath: kotlin.String? = null,
    // The name associated with this container.  For historic reasons, the name may be prefixed with a forward-slash (`/`).
    @Json(name = "Name")
    var name: kotlin.String? = null,
    // Number of times the container was restarted since it was created, or since daemon was started.
    @Json(name = "RestartCount")
    var restartCount: kotlin.Int? = null,
    // The storage-driver used for the container's filesystem (graph-driver or snapshotter).
    @Json(name = "Driver")
    var driver: kotlin.String? = null,
    // The platform (operating system) for which the container was created.  This field was introduced for the experimental \"LCOW\" (Linux Containers On Windows) features, which has been removed. In most cases, this field is equal to the host's operating system (`linux` or `windows`).
    @Json(name = "Platform")
    var platform: kotlin.String? = null,
    @Json(name = "ImageManifestDescriptor")
    var imageManifestDescriptor: OCIDescriptor? = null,
    // SELinux mount label set for the container.
    @Json(name = "MountLabel")
    var mountLabel: kotlin.String? = null,
    // SELinux process label set for the container.
    @Json(name = "ProcessLabel")
    var processLabel: kotlin.String? = null,
    // The AppArmor profile set for the container.
    @Json(name = "AppArmorProfile")
    var appArmorProfile: kotlin.String? = null,
    // IDs of exec instances that are running in the container.
    @Json(name = "ExecIDs")
    var execIDs: kotlin.collections.MutableList<kotlin.String>? = null,
    @Json(name = "HostConfig")
    var hostConfig: HostConfig? = null,
    @Json(name = "GraphDriver")
    var graphDriver: DriverData? = null,
    @Json(name = "Storage")
    var storage: Storage? = null,
    // The size of files that have been created or changed by this container.  This field is omitted by default, and only set when size is requested in the API request.
    @Json(name = "SizeRw")
    var sizeRw: kotlin.Long? = null,
    // The total size of all files in the read-only layers from the image that the container uses. These layers can be shared between containers.  This field is omitted by default, and only set when size is requested in the API request.
    @Json(name = "SizeRootFs")
    var sizeRootFs: kotlin.Long? = null,
    // List of mounts used by the container.
    @Json(name = "Mounts")
    var mounts: kotlin.collections.MutableList<MountPoint>? = null,
    @Json(name = "Config")
    var config: ContainerConfig? = null,
    @Json(name = "NetworkSettings")
    var networkSettings: NetworkSettings? = null,
)
